<nav class="l-nav">
    <div class="l-nav-box">
        <p class="l-nav-box__txt"><a class="l-nav-box__link" href="#">LOGO</a></p>
    </div>
    <ul class="l-nav-list">
        <li class="l-nav-list__item"><a class="l-nav-list__link" href="#about">About</a></li>
        <li class="l-nav-list__item"><a class="l-nav-list__link" href="#works">Works</a></li>
        <li class="l-nav-list__item"><a class="l-nav-list__link" href="#access">Access</a></li>
        <li class="l-nav-list__item"><a class="l-nav-list__link" href="#contact">Contact</a></li>
    </ul>
</nav>